<template>
    <div class="flex place-content-end mb-4">
        <div class=" text-white border border-gray-100 hover:bg-indigo-700 cursor-pointer">
            <router-link :to="{ name: 'companies.create' }" class="text-sm font-medium px-4 py-2 bg-gray-800 bg-indigo-600 ">Create company</router-link>
        </div>
    </div>
    <div class="overflow-hidden overflow-x-auto min-w-full align-middle sm:rounded-md">
        <table class="min-w-full border divide-y divide-gray-200">
            <thead>
                <tr>
                    <th class="px-6 py-3 bg-gray-50">
                        <span
                            class="text-xs font-medium tracking-wider leading-4 text-left text-gray-500 uppercase">Name</span>
                    </th>
                    <th class="px-6 py-3 bg-gray-50">
                        <span
                            class="text-xs font-medium tracking-wider leading-4 text-left text-gray-500 uppercase">Email</span>
                    </th>
                    <th class="px-6 py-3 bg-gray-50">
                        <span
                            class="text-xs font-medium tracking-wider leading-4 text-left text-gray-500 uppercase">Address</span>
                    </th>
                    <th class="px-6 py-3 bg-gray-50">
                        <span
                            class="text-xs font-medium tracking-wider leading-4 text-left text-gray-500 uppercase">Website</span>
                    </th>
                    <th class="px-6 py-3 bg-gray-50">
                        <span
                            class="text-xs font-medium tracking-wider leading-4 text-left text-gray-500 uppercase"></span>
                    </th>
                </tr>
            </thead>

            <tbody class="bg-white divide-y divide-gray-200 divide-solid">
            <template v-for="item in companies" :key="item.id">
                <tr class="bg-white">
                    <td class="px-6 py-4 text-sm leading-5 text-gray-900 whitespace-no-wrap">
                        {{ item.name }}
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-900 whitespace-no-wrap">
                        {{ item.email }}
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-900 whitespace-no-wrap">
                        {{ item.address }}
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-900 whitespace-no-wrap">
                        {{ item.website }}
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-900 whitespace-no-wrap">
                        <router-link :to="{name: 'companies.edit', params: { id: item.id } }"
                                     class="mr-2 px-4 py-2 text-white border border-gray-100 bg-gray-800 bg-indigo-600 hover:bg-indigo-700 cursor-pointer">
                            Edit</router-link>
                        <button @click="deleteCompany(item.id)" class="px-4 py-2 text-white border border-gray-100 bg-gray-800 bg-indigo-600 hover:bg-indigo-700 cursor-pointer">Delete</button>
                    </td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
</template>

<script>
import useCompanies from "../../composables/companies";
import {onMounted} from "vue";

export default {
    name: "CompaniesIndex",
    setup() {
        const {companies, getCompanies, destroyCompanies} = useCompanies();
        onMounted(getCompanies)
        const deleteCompany = async (id) => {
          await destroyCompanies(id);
          await getCompanies();
        }
        return {
            companies,
            deleteCompany
        }
    }
}
</script>

<style scoped>

</style>
